/bin/Debug/net6.0/kalkulator.deps.json
/bin/Debug/net6.0/kalkulator.dll
/bin/Debug/net6.0/kalkulator.exe
/bin/Debug/net6.0/kalkulator.pdb
/bin/Debug/net6.0/kalkulator.runtimeconfig.json
/obj/Debug/net6.0/apphost.exe
/obj/Debug/net6.0/kalkulator.AssemblyInfo.cs
/obj/Debug/net6.0/kalkulator.AssemblyInfoInputs.cache
/obj/Debug/net6.0/kalkulator.assets.cache
/obj/Debug/net6.0/kalkulator.csproj.AssemblyReference.cache
/obj/Debug/net6.0/kalkulator.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/kalkulator.csproj.FileListAbsolute.txt
/obj/Debug/net6.0/kalkulator.dll
/obj/Debug/net6.0/kalkulator.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0/kalkulator.genruntimeconfig.cache
/obj/Debug/net6.0/kalkulator.GlobalUsings.g.cs
/obj/Debug/net6.0/kalkulator.pdb
/obj/Debug/net6.0/ref/kalkulator.dll
/obj/Debug/net6.0/refint/kalkulator.dll
/obj/kalkulator.csproj.nuget.dgspec.json
/obj/kalkulator.csproj.nuget.g.props
/obj/kalkulator.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
